@model WebTest.ViewModel.MessageVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MessageVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addMessage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Letter" class="control-label"></label>
                <input asp-for="Letter" class="form-control" />
                <span asp-validation-for="Letter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Letter" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

